<?xml version="1.0" encoding="UTF-8"?>
<!-- 从高到低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
<!-- 日志输出规则 根据当前ROOT 级别，日志输出时，级别高于root默认的级别时 会输出 -->
<!-- 以下 每个配置的 filter 是过滤掉输出文件里面，会出现高级别文件，依然出现低级别的日志信息，通过filter 过滤只记录本级别的日志 -->

<!-- 属性描述 scan：性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
    debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。-->
<configuration scan="true" scanPeriod="10 seconds">
    <!--这里是配置充springboot配置文件或nacos获取参数，这里参数可以随意定只要和springboot配置文件属性对应上即可-->
    <!--    <springProperty scope="context" name="applicationName" source="spring.application.name"
                        defaultValue="spring.application.name"/>
        <springProperty scope="context" name="maxHistory" source="logging.max-history"
                        defaultValue="30"/>
        <springProperty scope="context" name="maxFileSize" source="logging.max-file-size"
                        defaultValue="1000MB"/>
        <springProperty scope="context" name="serverPort" source="server.port"
                        defaultValue="8080"/>-->

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <!-- 定义日志文件 输入位置 -->
    <property name="LOG_PATH" value="./logs" />
    <property name="LOG_NAME" value="mall" />

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%yellow(%date{yyyy-MM-dd HH:mm:ss})  %blue(%thread) %highlight(%-5level) %green(%logger:%line) %black(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- 设置分割 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 设置按尺寸和时间（同时满足）分割 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 每日翻滚 -->
            <fileNamePattern>${LOG_PATH}/${LOG_NAME}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- 每个文件最多 20MB，保留 10 天的历史记录，但最多 3GB -->
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n</pattern>
        </encoder>
    </appender>
    <!-- 日志输出级别 -->

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!--可根据springboot不同profile定义不同输出-->
<!--    <springProfile name="local">-->
<!--        <root level="info">-->
<!--            &lt;!&ndash; 文件输出 &ndash;&gt;-->
<!--            <appender-ref ref="STDOUT" />-->
<!--            <appender-ref ref="FILE" />-->
<!--        </root>-->
<!--    </springProfile>-->
<!--    <springProfile name="test">-->
<!--        <root level="info">-->
<!--            &lt;!&ndash; 文件输出 &ndash;&gt;-->
<!--            <appender-ref ref="FILE"/>-->
<!--        </root>-->
<!--    </springProfile>-->
<!--    <springProfile name="prod">-->
<!--        <root level="info">-->
<!--            &lt;!&ndash; 文件输出 &ndash;&gt;-->
<!--            <appender-ref ref="FILE" />-->
<!--        </root>-->
<!--    </springProfile>-->
</configuration>
